extends ../_template

block variables
	- var title = 'FloatVideo'

block content

	.site-wrapper

		div 
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at leo eu tortor blandit vestibulum sed id ligula. Etiam sit amet quam placerat, dictum turpis et, efficitur massa. Nam porttitor purus in mi eleifend, lacinia rutrum erat dictum. Integer sit amet urna lorem. Nulla et dignissim turpis, vitae accumsan elit. Duis dapibus ipsum lorem, at maximus quam finibus vitae. Aliquam a lacinia nulla. Quisque congue ligula non ante egestas dictum. Mauris tortor elit, accumsan nec porta id, interdum ut libero. Suspendisse potenti. Quisque nec enim dolor. Fusce ac nulla enim. Mauris vitae convallis augue, et efficitur turpis. In a tempor orci.

		.block-with-video

			.container#video-container
				video#video(playsinline='', autoplay='autoplay', muted='muted', loop='', preload='auto')
					source(src='https://www.kenallenlaw.com/wp-content/themes/LawGroup/video/Ken_Allen_Law_Clip_v3.mp4')
					source(src='https://www.kenallenlaw.com/wp-content/themes/LawGroup/video/Ken_Allen_Law_Clip_v3.webm', type='video/webm')
					source(src='https://www.kenallenlaw.com/wp-content/themes/LawGroup/video/Ken_Allen_Law_Clip_v3.ogg', type='video/ogg')