extends ../_template

block variables
	- var title = 'FloatVideo'

block content

	.site-wrapper

		.container
			video#video(playsinline='', autoplay='autoplay', muted='muted', loop='', preload='auto')
				source(src='https://www.kenallenlaw.com/wp-content/themes/LawGroup/video/Ken_Allen_Law_Clip_v3.mp4')
				source(src='https://www.kenallenlaw.com/wp-content/themes/LawGroup/video/Ken_Allen_Law_Clip_v3.webm', type='video/webm')
				source(src='https://www.kenallenlaw.com/wp-content/themes/LawGroup/video/Ken_Allen_Law_Clip_v3.ogg', type='video/ogg')